body{
  margin-top: 70px;
}
.row{
  margin-right: 0;
  margin-left: 0;
}
.form-group {
  display: inline-grid;
  .btn{
      margin: 5px;
  }
}
a:hover{
  text-decoration: none;
}
span{
  background-color: #f1c40f;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid grey;
}
