table{
  width: 40%;
  padding: 50px;
}
th, td {
  text-align: center;
  padding: 8px;
  border: 1px solid grey;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
th {
  background-color: #235a81;
  color: white;
}
